In [1]:
import os
os.getcwd()

'/home/bbhaduri/Projects/realtime_rig_dev/timing_tests/chrt+while(1)/OLE'

In [3]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = 'dataframes/220801T1125_OLEdata.pkl'

with open(df, 'rb') as f:
    ole_data = pickle.load(f)

In [4]:
ole_data

                         preds  ts_in         ts_add        ts_read
i
45    [0.0, 1.875, 0.0, 1.875]    0.0  778233.013578  778233.013566
46    [0.0, 1.875, 0.0, 1.875]    0.0  778233.018533  778233.018527
47    [0.0, 1.875, 0.0, 1.875]    0.0  778233.023527  778233.023522
48    [0.0, 1.875, 0.0, 1.875]    0.0  778233.028528  778233.028524
49    [0.0, 1.875, 0.0, 1.875]    0.0  778233.033525  778233.033521
...                        ...    ...            ...            ...
4871  [0.0, 1.875, 0.0, 1.875]    0.0  778257.703544  778257.703531
4872  [0.0, 1.875, 0.0, 1.875]    0.0  778257.708548  778257.708535
4873  [0.0, 1.875, 0.0, 1.875]    0.0  778257.713541  778257.713528
4874  [0.0, 1.875, 0.0, 1.875]    0.0  778257.718544  778257.718532
4875  [0.0, 1.875, 0.0, 1.875]    0.0  778257.723549  778257.723536

[4831 rows x 4 columns]